<!-- Please don't edit above or below this line.
To add a quote, copy the div below and paste it at the bottom of the file.
Then populate it with your quote and attribution.
<div class="quote">
<blockquote>Your quote goes here</blockquote>
<cite>Attribution</cite>
</div>
You can add an optional image tag. The image must be linked from an external
site and not be in the repository.
<img src="http://your_image_link.jpg">
<!--Please don't edit above this line.>
<div class="quote">
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Steve_Jobs_Headshot_2010-CROP.jpg/245px-Steve_Jobs_Headshot_2010-CROP.jpg">
<blockquote>Put a dent in the universe.</blockquote>
<cite>Steve Jobs</cite>
</div>
<div class="quote">
  <blockquote>This is a quote, and I like it.</blockquote>
  <cite>A quote: The Art of Quoting</cite>
</div>